@import url("https://p.typekit.net/p.css?s=1&k=zns7sax&ht=tk&f=44083.44087&a=1494256&app=typekit&e=css");

@font-face {
font-family:"obviously";
src:url("https://use.typekit.net/af/2012bb/00000000000000007735c9db/30/l?subset_id=2&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/2012bb/00000000000000007735c9db/30/d?subset_id=2&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/2012bb/00000000000000007735c9db/30/a?subset_id=2&fvd=n2&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:200;font-stretch:normal;
}

@font-face {
font-family:"obviously";
src:url("https://use.typekit.net/af/5bb57c/00000000000000007735c9e3/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/5bb57c/00000000000000007735c9e3/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/5bb57c/00000000000000007735c9e3/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

.tk-obviously { font-family: "obviously",sans-serif; }